<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ssai.gear_alarm_extender"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="17"/>

    <uses-permission android:name="com.sec.android.app.clockpackage.permission.READ_ALARM"/>
    <uses-permission android:name="com.sec.android.app.clockpackage.permission.WRITE_ALARM"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name">

        <receiver android:name=".receiver.GearAlertReveiver">
            <intent-filter>
                <action android:name="com.samsung.sec.android.clockpackage.alarm.ALARM_STOP" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.clock.SleepAsAndroidAlertAgent">
            <intent-filter>
                <action android:name="com.urbandroid.sleep.alarmclock.ALARM_ALERT_START" />
                <action android:name="com.urbandroid.sleep.alarmclock.ALARM_ALERT_DISMISS" />
                <action android:name="com.urbandroid.sleep.alarmclock.ALARM_SNOOZE_CLICKED_ACTION" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.clock.DeskclockAlertAgent">
            <intent-filter>
                <action android:name="com.android.deskclock.ALARM_ALERT" />
                <action android:name="com.android.deskclock.ALARM_DONE" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.SsaiTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
